.team {
    text-align: center;
}


@font-face {
    font-family: 'Droid Serif';
    font-weight: 400;
    src: url('../font/DroidSerif-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('../font/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url('../font/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Slab';
    font-weight: 400;
    src: url('../font/RobotoSlab-Regular.ttf') format('truetype');
}


/* main theme color는 #fed136 입니다 */

::selection {
    background-color: #fed136;
}


/* 공통 영역 */

.gray-page {
    background-color: #f8f9fa;
}

.page-title {
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Montserrat';
}

.page-desctiption {
    margin-bottom: 75px;
    font-size: 16px;
    color: #6c757d;
    font-family: 'Droid Serif';
    font-style: italic;
}


/* INTRO 영역 */

header {
    text-align: center;
    position: relative;
    height: 500px;
    background-image: url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
}

#intro_1 {
    color: white;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Droid Serif';
}

#intro_2 {
    color: white;
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: Montserrat;
}

#link_1 {
    text-decoration: none;
    color: white;
    background-color: #fec810;
    border-color: #fec810;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    padding: 20px 40px;
    border-radius: 4px;
}

.box {
    display: inline-block;
    line-height: 100%;
    vertical-align: middle;
}

/* SERVICE 영역 */

#service {
    padding-top: 150px;
    padding-top: 150px;
}

#title_services {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: Montserrat;
    margin-top: 0;
    margin-bottom: 15px;
}

#subheading_services {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    color: #6c757d;
    font-family: 'Droid Serif';
}

.service_image {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.service_subtitle {
    text-align: center;
    margin: 15px 0;
    font-weight: 700;
    font-family: Montserrat;
    font-size: 1.5rem;
}

.service_paragraph {
    color: #6c757d;
    line-height: 1.75;
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
}

/* PORTFOLIO 영역 */

#portfolio {
    text-align: center;
    padding: 150px 0;
}

.port-card {
    margin-bottom: 30px;
}

.card-caption {
    padding: 25px;
    background-color: white;
}

.card-title {
    font-weight: bold;
    font-size: 24px;
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}

.card-content {
    font-size: 16px;
    color: #6c757d;
    font-family: 'Droid Serif';
    font-style: italic;
    margin: 0;
    padding: 0;
}

/* our amazing team */

.team {
    padding-top: 150px;
    padding-bottom: 150px;
}


#team_title1 {
    font-weight: 700;
    font-family: 'Montserrat';
}

/* 이경원 */

#team_title1 {
    font-weight: 700;
    font-family: Montserrat;
    font-size: 40px;
    margin-bottom: 15px;
}

#team_title2 {
    font-family: 'Droid Serif';
    font-size: 16px;
    margin-bottom: 75px;
}

#helper {

}

.name {
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: 700;
    font-family: Montserrat;
    margin-bottom: 0px;
}

.job {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto Slab';
    color: #6c757d;

}

#person_img1 {
    width: 225px;
    border-radius: 110px;
}

#person_img2 {
    width: 225px;
    border-radius: 110px;

}

#person_img3 {
    width: 225px;
    border-radius: 110px;
}


.person1 {
    float: left;
    width: 33%;

}

.person2 {
    float: left;
    width: 33%;
}

.person3 {
    float: left;
    width: 33%;
    padding-bottom: 50px;
}

.sentence {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 690px;
    font-family: 'Roboto Slab';
    color: rgb(108, 117, 125);
    padding-bottom: 150px;
}

/* FOOTER 영역 */]

/* FOOTER-LOGO */

.footer_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#four_logo {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

#footer {
    position: relative;
    display: block;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    font-family: Montserrat;
    text-align: center;
}

.footer_image {
    width: 50px;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

#footer_sns {
    text-align: center;
}

.footer_link {
    color: #fed136;
    text-decoration: none;
    font-size: 90%;
    line-height: 40px;
    font-family: Montserrat;
    margin-left: 5px;
    margin-right: 5px;
    text-shadow: none;
    text-align: center;
}

.footer_link:hover {
    color: #fed136;
}