/*-------------------- 공통 및 기본 영역 --------------------*/

/* 폰트 */

@font-face {
    font-family: 'Droid Serif';
    font-weight: 400;
    src: url('../font/DroidSerif-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('../font/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url('../font/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Slab';
    font-weight: 400;
    src: url('../font/RobotoSlab-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Kaushan Script';
    font-weight: 400;
    src: url('../font/KaushanScript-Regular.ttf') format('truetype')
}


/* 공통 설정 */

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

p {
    line-height: 1.75;
}

::selection {
    background-color: #fed136;
}

/* section에 주어지는 기본 padding */
.area {
    padding: 150px 0;
}

.area.gray {
    background-color: #f8f9fa;
}

/* 각 section의 제목, 부제목 */
.page-title {
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.page-desctiption {
    margin-bottom: 75px;
    font-size: 16px;
    color: #6c757d;
    font-family: 'Droid Serif', serif;
    font-style: italic;
    text-align: center;
}

/* 메뉴 아이템 (hover 시 노란색으로 변환) */
.menu-item {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 0 4px;
    border-radius: 50%;
    background-color: #212529;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    transition: background-color .3s;
}

.menu-item:hover {
    color: white;
    background-color: #fed136;
}


/*-------------------- NAVBAR 영역 --------------------*/

.navbar {
    padding: 0 20px;
    overflow: hidden;
    background-color: black;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.50);
    height: 60px;
    line-height: 60px;
}

#web_name {
    color: #fec810;
    font-family: 'Kaushan Script';
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 1rem;
    font-size: 1.25rem;
    display: inline-block;
}

#menu {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
}

#menu li {
    float: left;
    padding-left: 14px;
    padding-right: 14px;
}

#menu li a {
    text-decoration: none;
    color: white;
    font-size: 90%;
    font-weight: 400;
    font-family: Montserrat;
    text-transform: uppercase;
}

#menu li a:hover {
    color: #fec810;
}


/*-------------------- INTRO 영역 --------------------*/

header {
    height: 750px;
    line-height: 750px;
    text-align: center;
    background-image: url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#intro {
    display: inline-block;
    line-height: 100%;
    vertical-align: middle;
}

#intro > .header-subtitle {
    margin-bottom: 25px;
    line-height: 40px;
    color: white;
    font-style: italic;
    font-size: 40px;
    font-family: 'Droid Serif', serif;
}

#intro > .header-title {
    line-height: 75px;
    margin-bottom: 50px;
    color: white;
    font-size: 75px;
    font-weight: 700;
}

#intro > .header-button {
    padding: 20px 40px;
    text-decoration: none;
    color: white;
    background-color: #fed136;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    border: 1px solid #fed136;
    border-radius: 4px;
    display: inline-block;
}


/*-------------------- SERVICE 영역 --------------------*/

#service .service-icon-area {
    width: 128px;
    height: 128px;
    margin: 0 auto;
    line-height: 128px;
    font-size: 60px;
    text-align: center;
    color: white;
    border-radius: 50%;
    background-color: #fed136;
}

#service .service-title {
    margin: 15px 0;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
}

#service .service-description {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #6c757d;
    line-height: 1.75;
    text-align: center;
    font-family: 'Droid Serif', serif;
}


/*-------------------- PORTFOLIO 영역 --------------------*/

#portfolio {
    text-align: center;
    padding: 150px 0;
}

#portfolio .port-card {
    margin-bottom: 30px;
}

#portfolio .port-card > .card-image-area > .card-image {
    width: 100%;
}

#portfolio .port-card > .card-caption {
    padding: 25px;
    background-color: white;
}

#portfolio .port-card > .card-caption > .card-title {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
}

#portfolio .port-card > .card-caption > .card-description {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #6c757d;
    font-family: 'Droid Serif', serif;
    font-style: italic;
}


/*-------------------- ABOUT 영역 --------------------*/

.vertical-line {
    height: 200px;
    border-right: 2px solid #e9ecef;
}

#about {
    text-align: center;
    padding: 150px 0;
}

#about .graph-group > .graph-left {
    text-align: right;
    padding-left: 100px;
    padding-right: 25px;
}

#about .graph-group > .graph-center {
    padding: 0;
}

#about .graph-group > .graph-right {
    text-align: left;
    padding-left: 25px;
    padding-right: 100px;
}

#about .graph-group > [class*="graph-"] > .graph-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.5;
}

#about .graph-group > [class*="graph-"] > .graph-desctiption {
    font-family: 'Droid Serif', serif;
    font-size: 16px;
    color: #6c757d;
    line-height: 1.75;
}

#about .graph-group > .graph-center > .graph-image {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    border: 7px solid #e9ecef;
    display: inline-block;
    background-color: #fed136;
    line-height: 155px;
}

#about .graph-group > .graph-center > .graph-image > .inner-text {
    color: white;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    display: inline-block;
    vertical-align: middle;
}


/*-------------------- OUT AMAZING TEAM 영역 --------------------*/

#team {
    text-align: center;
}

#team .person {
    margin-bottom: 50px;
}

#team .person > .person-image {
    width: 225px;
    height: 225px;
    border-radius: 100%;
    border: 7px solid white;
    display: inline-block;
}

#team .person > .person-name {
    margin: 25px 0 0;
    font-size: 24px;
    font-weight: 700;
}

#team .person > .person-job {
    font-family: 'Droid Serif', serif;
    font-size: 16px;
    font-weight: 400;
    color: #6c757d;
}

#team .sentense {
    font-family: 'Droid Serif', serif;
    color: #6c757d;
}


/*-------------------- SPONSOR 영역 --------------------*/

#sponsor {
    padding: 50px 0;
}

#sponsor .footer-logo {
    display: block;
    margin: 0 auto;
}


/*-------------------- CONTACT US 영역 --------------------*/

#contact {
    text-align: center;
    position: relative;
    height: 800px;
    background-color: #212529;
    background-image: url("../images/map-image.png");
    background-repeat: no-repeat;
    background-position: center;
}

#contact .page-title {
    color: white;
}

#contact .contact-input {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    color: #495057;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Dorif Serif', serif;
}

#contact .contact-input.big-input {
    height: 248px;
}

#contact .contact-input::placeholder {
    color: #cdcdcd;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

#contact .contact-input:focus {
    outline: none;
    border: 1px solid #FED136;
}

#contact input[type=submit] {
    padding: 20px 40px;
    background-color: #FED136;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: white;
    border: 1px solid #FED136;
    border-radius: 4px;
}


/*-------------------- FOOTER 영역 --------------------*/

#footer {
    padding: 25px 0;
    text-align: center;
    font-size: 14.5px;
    line-height: 40px;
}

#footer .copyright {
    margin-bottom: 0;
}

.footer-link {
    color: #fed136 !important;
    margin: 0 4px;
}
