/*-------------------- 공통 및 기본 영역 --------------------*/

/* 폰트 */

@font-face {
    font-family: 'Droid Serif';
    font-weight: 400;
    src: url('../font/DroidSerif-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('../font/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url('../font/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Slab';
    font-weight: 400;
    src: url('../font/RobotoSlab-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Kaushan Script';
    font-weight: 400;
    src: url('../font/KaushanScript-Regular.ttf') format('truetype')
}


/* 공통 설정 */

body {
    font-family: 'Montserrat', sans-serif;
}

::selection {
    background-color: #fed136;
}

/* section에 주어지는 기본 padding */
.area {
    padding: 150px 0;
}

.area.gray {
    background-color: #f8f9fa;
}

.page-title {
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.page-desctiption {
    margin-bottom: 75px;
    font-size: 16px;
    color: #6c757d;
    font-family: 'Droid Serif', serif;
    font-style: italic;
    text-align: center;
}


/*-------------------- NNAVBAR 영역 --------------------*/


/*-------------------- INTRO 영역 --------------------*/

.navbar {
    padding: 0 20px;
    overflow: hidden;
    background-color: black;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.50);
    height: 60px;
    line-height: 60px;
}

#web_name {
    color: #fec810;
    font-family: 'Kaushan Script';
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 1rem;
    font-size: 1.25rem;
    display: inline-block;
}

#menu {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
}

#menu li {
    float: left;
    padding-left: 14px;
    padding-right: 14px;
}

#menu li a {
    text-decoration: none;
    color: white;
    font-size: 90%;
    font-weight: 400;
    font-family: Montserrat;
    text-transform: uppercase;
}

#menu li a:hover {
    color: #fec810;
}

header {
    height: 700px;
    line-height: 700px;
    text-align: center;
    background-image: url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

header > .header-inner {
    display: inline-block;
    line-height: 100%;
    vertical-align: middle;
}

header > .header-inner > .header-subtitle {
    margin-bottom: 25px;
    line-height: 40px;
    color: white;
    font-style: italic;
    font-size: 40px;
    font-family: 'Droid Serif', serif;
}

header > .header-inner > .header-title {
    line-height: 75px;
    margin-bottom: 60px;
    color: white;
    font-size: 75px;
    font-weight: 700;
}

header > .header-inner > .header-button {
    padding: 20px 40px;
    text-decoration: none;
    color: white;
    background-color: #fec810;
    border-color: #fec810;
    font-weight: 700;
    font-size: 18px;
    border-radius: 4px;
}


/*-------------------- SERVICE 영역 --------------------*/

#service .service-icon-area {
    width: 128px;
    height: 128px;
    margin: 0 auto;
    line-height: 128px;
    font-size: 60px;
    text-align: center;
    color: white;
    border-radius: 50%;
    background-color: #fed136;
}

#service .service-title {
    margin: 15px 0;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
}

#service .service-description {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #6c757d;
    line-height: 1.75;
    text-align: center;
    font-family: 'Droid Serif', serif;
}


/*-------------------- PORTFOLIO 영역 --------------------*/

#portfolio {
    text-align: center;
    padding: 150px 0;
}

#portfolio .port-card {
    margin-bottom: 30px;
}

#portfolio .port-card > .card-image-area > .card-image {
    width: 100%;
}

#portfolio .port-card > .card-caption {
    padding: 25px;
    background-color: white;
}

#portfolio .port-card > .card-caption > .card-title {
    margin: 0 0 10px;
    padding: 0;
    font-weight: bold;
    font-size: 24px;
}

#portfolio .port-card > .card-caption > .card-description {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #6c757d;
    font-family: 'Droid Serif', serif;
    font-style: italic;
}


/*-------------------- ABOUT 영역 --------------------*/

.vertical-line {
    height: 200px;
    border-right: 2px solid #e9ecef;
}

#about {
    text-align: center;
    padding: 150px 0;
}

#about .graph-group > .graph-left {
    text-align: right;
    padding-left: 100px;
    padding-right: 25px;
}

#about .graph-group > .graph-center {
    padding: 0;
}

#about .graph-group > .graph-right {
    text-align: left;
    padding-left: 25px;
    padding-right: 100px;
}

#about .graph-group > [class*="graph-"] > .graph-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.5;
}

#about .graph-group > [class*="graph-"] > .graph-desctiption {
    font-family: 'Droid Serif', serif;
    font-size: 16px;
    color: #6c757d;
    line-height: 1.75;
}

#about .graph-group > .graph-center > .graph-image {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    border: 7px solid #e9ecef;
    display: inline-block;
    background-color: #fed136;
    line-height: 155px;
}

#about .graph-group > .graph-center > .graph-image > .inner-text {
    color: white;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}


/*-------------------- OUT AMAZING TEAM 영역 --------------------*/

#team {
    text-align: center;
}

#team .person {
    margin-bottom: 50px;
}

#team .person > .person-image-area {
    width: 225px;
    height: 225px;
    border-radius: 100%;
    border: 7px solid white;
    display: inline-block;
    overflow: hidden;
}

#team .person > .person-image-area > .person-image {
    width: 100%;
}

#team .person > .person-name {
    margin: 25px 0 0;
    font-size: 24px;
    font-weight: 700;
}

#team .person > .person-job {
    font-family: 'Droid Serif', serif;
    font-size: 16px;
    font-weight: 400;
    color: #6c757d;
}

#team .person > .menu > .menu-item {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 0 4px;
    background-color: #212529;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    transition: background-color .3s;
}

#team .person > .menu > .menu-item:hover {
    background-color: #fed136;
}

#team .sentense {
    font-family: 'Droid Serif', serif;
    color: #6c757d;
}


/*-------------------- CONTACT US 영역 --------------------*/

.contact_us {
    text-align: center;
    position: relative;
    height: 800px;
    background-image: url("../images/map-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;

    padding: 150px 0px;
}

.contact_title {
    color: white;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;

}

.contact_slogan {;
    color: rgb(108, 117, 125);
    font-family: 'Droid Serif';
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 75px;
}

.login-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.text-field {
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    color: #dacebc;
    font-family: Montserrat;

    font-weight: bold;

    heigth: 248px;
}

.form1 {
    float: left;
}

.form1 input {
    min-width: 540px;
    height: 65px;
    padding: 20px;
    margin-bottom: 20px;
}

.form2 {
    float: right;
}

.form2 input {
    max-width: 540px;
    padding: 20px;
    height: 238px;
}

.submit-btn {

    background-color: rgb(254, 209, 54);
    border-radius: 5px;
    font-size: 18px;
    padding: 20px 40px;
    text-align: center;
    font-family: Montserrat;

    width: 230px;
    color: white;
    border: none;
    font-weight: bold;
}

.links {
    margin-top: 30px;
}

.links a {
    font-size: 12px;
    color: #9b9b9b
}


/*-------------------- FOOTER 영역 --------------------*/

.footer_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#four_logo {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

#footer {
    position: relative;
    display: block;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    font-family: Montserrat;
    text-align: center;
}

.footer_image {
    width: 50px;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

#footer_sns {
    text-align: center;
}

.footer_link {
    color: #fed136;
    text-decoration: none;
    font-size: 90%;
    line-height: 40px;
    font-family: Montserrat;
    margin-left: 5px;
    margin-right: 5px;
    text-shadow: none;
    text-align: center;
}

.footer_link:hover {
    color: #fed136;
}
