.contact_us {
    text-align: center;
    position: relative;
    height: 800px;
    background-image: url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;

    padding: 150px 0px;
}

.contact_title {
    color: white;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700px;
    margin-bottom: 15px;

}

.contact_slogan {;
    color: rgb(108, 117, 125);
    font-family: 'Droid Serif';
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 75px;
}

.login-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.text-field {
  font-size: 14px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  color: #dacebc;
  font-family: Montserrat;

  font-weight: bold;
  width: 540px;
  heigth: 248px;


}

.submit-btn {

  background-color: rgb(254, 209, 54);
  border-radius: 5px;
  font-size: 18px;
  padding: 20px 40px;
  text-align: center;
  font-family: Montserrat;

  width: 230px;
  color: white;
  border: none;
  font-weight: bold;
}

.links {
    margin-top: 30px;
}

.links a {
  font-size: 12px;
  color: #9b9b9b
}